<%- include("includes/head.ejs") %>
<body>
  <%- include("partials/navbar.ejs") %>
  <div class="container mt-5 bg-light" id="dashboard">
    <% if (msg) { %>
      <div class="alert alert-success" id="success"> <%= msg %></div>
    <% } %>
    
    <% if (user) { %>
      <div class="text-center d-flex flex-column">
        <span class="fs-3"><%= user.user %></span>
        <span class="fs-3">User ID: <%= user.userId %></span>
        <span class="fs-4"><img src="<%= user.profileImg %>" alt="NoImage" class="userProfileImg img-thumbnail"></span>
      </div>
    <% } else { %>
      <h1>Login</h1>
    <% } %>
    <br>
    <form action="/update-profile" enctype="multipart/form-data" class="form-group" 
    method="post" onsubmit="return checkPasswords()">
      <div class="form-group">
        <label class="custom-file-upload" for="profileImg">
            Update Profile Image
            <i class="bi bi-person-circle fs-2 mx-2"></i>
            <input type="file" name="profileImg" accept="image/*" id="profileImg" />
          </label>
          <br>

        <label for="password" class="form-label">Old Password</label>
        <input type="password" placeholder="Enter old password" class="form-control" name="password" id="password" 
        value="*******">
        <br>

        <label for="newpass" class="form-label">New Password</label>
        <input type="password" placeholder="Enter new password" class="form-control"  name="newpass" id="newpass">
        <br>

        <label for="cnfmpass" class="form-label">Confirm Password</label>
        <input type="password" placeholder="Confirm new password" name="cnfmpass" class="form-control" id="cnfmpass">
        <br>

        <div class="alert alert-danger d-none" id="msg"></div>

        <div class="d-flex align-items-center">
          <button type="submit" id="save" class="btn btn-primary m-0 mx-3" >Update</button>
        </div>
        <br>
      </div>
    </form>
  </div>

  <%- include("includes/footer.ejs") %>
<script>
   if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
  }
    function checkPasswords() {
    const newpass = document.getElementById("newpass").value;
    const confirmpass = document.getElementById("cnfmpass").value;
    const msg = document.getElementById("msg");

    if (newpass !== confirmpass) {
        msg.classList.remove("d-none");
        msg.innerText = "New password and confirm password do not match";
        return false;
    } 
    return true;
  }

</script>
</body>
</html>
