<%- include("includes/head.ejs") %>
    <body>
        <%- include("partials/navbar.ejs") %>
        <div class="container m-auto p-lg-2 d-flex row-gap-3  flex-sm-column flex-md-row flex-wrap justify-content-evenly">
            <% if (posts.length === 0) { %>
                <h3 style="text-align: center; margin: 10% auto;">No Posts Found, Try adding something...</h3>
            <% } %>
            <% for (const post of posts) { %>
                <div class="card p-2 m-auto mt-4 shadow-sm" id="post_card" >
                    <img class="card-img-top" id="post_card_img" src="<%= post.img %>" alt="No image">
                        <h3 class="card-title" style="text-overflow:ellipsis;white-space: nowrap;overflow: hidden;"><%=post.title%></h3>    
                        <div class="d-flex justify-content-start align-items-start">
                              <a href="/detail/<%= post.Id %>" class="pb-3 fs-6 text-decoration-none">
                                   Read More...
                              </a>
                        </div>
                    <div class="container d-flex flex-row justify-content-end"> 
                    <span class="bg-info-subtle bg-opacity-25 text-capitalize text-light-emphasis mx-3"><%= post.category %> </span>
                     <span class="bg-secondary-subtle bg-opacity-25 "><%=post.createdAt.toString().slice(0,15)%></span>
                    </div>
                    <% if (user && post.userId=== user.userId) { %>
                         <div role="group" id="post_card_btns">
                        <a href="/edit/<%= post.Id %>" class="btn btn-dark "> Edit</a>
                        <form action="/delete/<%=post.Id%>?_method=DELETE" method="post">
                             <button onclick="return confirm('are you sure, want to delete?')" class="btn btn-danger">Delete</button>
                        </form>
                    </div> 
                    <% } %>
                </div>
                
            <% } %>
        </div>
        <%- include("includes/footer.ejs") %>
        <script src="/script.js"></script>
    </body>
</html>