<%- include("includes/head.ejs") %>
    <body>
        <%- include("partials/navbar.ejs") %>
        <div class="container m-auto p-lg-2 d-flex row-gap-3  flex-sm-column flex-md-row flex-wrap justify-content-evenly">
            <% if (posts.length === 0) { %>
                <h3 style="text-align: center; margin: 10% auto;">No Posts Found, Try adding something...</h3>
            <% } %>
            <% for (const post of posts) { %>
                <div class="card p-2 m-auto mt-4 shadow-sm" id="post_card" >
                    <img class="card-img-top" id="post_card_img" src="<%= post.img %>" alt="No image">
                        <h3 class="card-title" style="text-overflow:ellipsis;white-space: nowrap;overflow: hidden;"><%=post.title%></h3>    
                    <a href="/detail/<%=post.Id%>" style="text-decoration: none;color: inherit;"> 
                        <button class="btn btn-link btn-md p-2 m-0">Continue Reading...</button>
                           </a>
                    <div class="container"> 
                    <h5 class="bg-info-subtle bg-opacity-25">@category: <%= post.category %> </h5>
                     <h5 class="bg-secondary-subtle bg-opacity-25 ">posted: <%=post.createdAt.toString().slice(0,15)%></h5>
                    </div>
                    <% if (user && post.userId=== user.userId) { %>
                         <div role="group" id="post_card_btns">
                        <a href="/edit/<%= post.Id %>" class="btn btn-dark "> Edit</a>
                        <form action="/delete/<%=post.Id%>?_method=DELETE" method="post">
                             <button onclick="return confirm('are you sure, want to delete?')" class="btn btn-danger">Delete</button>
                        </form>
                    </div> 
                    <% } %>
                </div>
                
            <% } %>
        </div>
        <%- include("includes/footer.ejs") %>
        <script src="/script.js"></script>
    </body>
</html>